html {
    font-size: 62.5%;
}
body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('../img/space.jpg');
  
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
  }

  .parallax2 {
    /* The image used */
    background-image: url('../img/space2.jpg');
    z-index: 0;
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
    
  }

  section> {

   
    width: 600px;
    height: 200px;
    color: white;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: - 400px;
    z-index: 1;
  }
  

  #styleme {
      height:200px;
      width: 800px;
      background-color:white;
      opacity: 50;
      font-size:2.4rem ;
      width: 100%;
      color: black;
      font-weight: bold;
    }